{{ partial "header.html" . }}

{{ partial "preloader.html" . }}
        
{{ partial "navigation.html" . }}

<section class="talk section">
  <div class="container">
    <div class="row">
      <div class="heading">
        <h2>{{ .Title }}</h2>
        {{ with .Params.subtitle }}
          <h4>{{ . }}</h4>
        {{ end }}
      </div>
    </div>

    <div class="talk-metadata">
      <div class="row">
        
        <div class="col-md-1"></div>
        <div class="col-md-10">
          {{ range .Params.speakers }}
          <div class="row">
            <div class="col-12 col-md-3 pub-row-heading">Speaker</div>
            <div class="col-12 col-md-9">{{ .name }}, <em>{{ .affiliation }}</em></div>
          </div>
          {{ end }}
        </div>
        <div class="col-md-1"></div>

        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-12 col-md-3 pub-row-heading">Date</div>
            <div class="col-12 col-md-9">{{ .Date }}</div>
          </div>
        </div>
        <div class="col-md-1"></div>

        {{ if .Params.locations }}
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-12 col-md-3 pub-row-heading">Location</div>
            <div class="col-12 col-md-9">
              {{ range .Params.locations }}
              <a class="badge badge-light" href="{{ "/locations/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
              {{ end }}
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
        {{ end }}

        {{ if .Params.sessions }}
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-12 col-md-3 pub-row-heading">Session</div>
            <div class="col-12 col-md-9">
              {{ range .Params.sessions }}
              <a class="badge badge-light" href="{{ "/sessions/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
              {{ end }}
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
        {{ end }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
      {{ with .Params.abstract }}
        <h3>Abstract</h3>
        <p class="pub-abstract">{{ . | markdownify | emojify }}</p>
      {{ end }}
      </div>
    </div>
  </div>
</section>

{{ partial "footer.html" . }}

