@media (min-width:1200px){
    .auto-clear .col-lg-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-lg-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-lg-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-lg-6:nth-child(odd){clear:left;}
}
@media (min-width:992px) and (max-width:1199px){
    .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-md-6:nth-child(odd){clear:left;}
}
@media (min-width:768px) and (max-width:991px){
    .auto-clear .col-sm-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-sm-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-sm-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-sm-6:nth-child(odd){clear:left;}
}
@media (max-width:767px){
    .auto-clear .col-xs-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-xs-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-xs-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-xs-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-xs-6:nth-child(odd){clear:left;}
}

body {
  padding-top: 50px;
}

.navigation.light {
  background-color:#fff;
  box-shadow: 0 2px 7px 0px rgba(142, 142, 142, 0.15);
}

.navigation.light a {
    color: #666;
}

.breadcrumb {
    font-size: 16px;
    text-align: center;
}

section#speakers, section#organizers, section#speaker, section#people {
    background: url('/images/trianglify.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
section#speakers div.transbox, section#organizers div.transbox {
    background-color: #ffffff;
    opacity: 0.6;
}


ul.nav-fill.nav-justified {
    display: inline-flex;
    margin-bottom: 2em;
}

.nav-pills .nav-link {
  font-size: 120%;
  line-height: 1.6em;
  width: 100%;
  letter-spacing: 1px;
  margin-top: 10px;
  color: #1bafb4;
}
.nav-pills .nav-link.active, .nav-pills .nav-link.active:focus {
  background-color: #1bafb4;
  color: #fff;
}
.tab-pane.fade {
    transition: opacity .5s linear;
}

section#about p {
    text-align: justify;
    font-size: 130%;
}

section#about img {
    border-radius: 0.24rem;
}

section#about figcaption {
    color: #444;
    font-style: italic;
}


