@media (min-width:1200px){ 
    .auto-clear .col-lg-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-lg-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-lg-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-lg-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-lg-6:nth-child(odd){clear:left;}
}
@media (min-width:992px) and (max-width:1199px){
    .auto-clear .col-md-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-md-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-md-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-md-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-md-6:nth-child(odd){clear:left;}
}
@media (min-width:768px) and (max-width:991px){
    .auto-clear .col-sm-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-sm-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-sm-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-sm-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-sm-6:nth-child(odd){clear:left;}
}
@media (max-width:767px){
    .auto-clear .col-xs-1:nth-child(12n+1){clear:left;}
    .auto-clear .col-xs-2:nth-child(6n+1){clear:left;}
    .auto-clear .col-xs-3:nth-child(4n+1){clear:left;}
    .auto-clear .col-xs-4:nth-child(3n+1){clear:left;}
    .auto-clear .col-xs-6:nth-child(odd){clear:left;}
}

body {
  padding-top: 50px;
}

.navigation.navbar-light {
  background-color:#fff;
  box-shadow: 0 2px 7px 0px rgba(142, 142, 142, 0.15);
}

.navigation.navbar-light a {
    color: #666;
}

.breadcrumb {
    font-size: 16px;
    text-align: center;
    background-color: inherit;
    margin: 1.25rem 2.5rem;

}

.breadcrumb_item {
    display: inline-block;
    position: relative;
}

.breadcrumb li.breadcrumb_item {
    color: inherit;
    line-height: 1;
    margin-right:0.3125rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.breadcrumb li.breadcrumb_item a {
    color: #737272;
}

.breadcrumb li.breadcrumb_item a:hover {
    text-decoration: none;
    color: #007bff;
}

.breadcrumb li.breadcrumb_item::after {
    content: "/";
    margin-left: 0.3125rem;
}

.breadcrumb li.breadcrumb_item:first-child::after {
    margin-left: 0.25rem;
}

.breadcrumb li.breadcrumb_item:last-child {
    margin-right: 0;
    padding-right: 0;
    font-weight: 700;
}

.breadcrumb li.breadcrumb_item:last-child::after {
    content: "";
}

section#speakers, section#conference-organizers, section#speaker, section#people, section#career-fair-intro {
    background: url('/images/trianglify.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
section#speakers div.transbox, section#conference-organizers div.transbox {
    background-color: #ffffff;
    opacity: 0.6;
}


ul.nav-fill.nav-justified {
    display: inline-flex;
    margin-bottom: 2em;
}

.nav-pills .nav-link {
  font-size: 120%;
  line-height: 1.6em;
  width: 100%;
  letter-spacing: 1px;
  margin-top: 10px;
  color: #1bafb4;
}
.nav-pills .nav-link.active, .nav-pills .nav-link.active:focus {
  background-color: #1bafb4;
  color: #fff;
}
.tab-pane.fade {
    transition: opacity .5s linear;
}

section#about p {
    text-align: justify;
    font-size: 130%;
}

section#about img {
    border-radius: 0.24rem;
}

section#about figcaption {
    color: #444;
    font-style: italic;
}

img.avatar-circle {
    border-radius: 50%;
}

div#education, div#research-interests {
    margin-top: 1rem;
    margin-bottom: 0.75rem;
    margin-left: 1rem;
}

div#profile {
    text-align: center;
}

div#profile img {
    margin-bottom: 0.75rem;
}
div#profile h2 {
    margin-top: 1rem;
    margin-bottom: 0.75rem;
}

ul.profile {
    margin-top: 0.75rem;
    list-style: disc;
    padding-left: 2rem;
}

div.content ul {
    padding-left: 2rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    list-style: disc;
}

div.content li {
    font-size: 16px;
}

h3, h4, h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

section#sessions h3, section#sessions h4 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
}
section#sessions h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-weight: 600;
}
section#sessions h5 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

section#sponsors img {
    max-width: 100%;
}

.hero-area p a {
    font-weight: 600;
    text-decoration: underline;
    color: #fff;
}

.btn {
    line-height: 1.5rem;
}

section#contact div.sub-heading {
    text-align: center;
    color: #777777;
}

section#contact div.sub-heading h2 {
    text-align: center;
    color: #3c3c3c;
    padding-bottom: 15px;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    padding-top: 15px;
}

section#contact div.sub-heading p {
    text-align: left;
}

#mc_embed_signup .input-field .form-control {
    display: block;
    box-shadow: none;
    background: #f5f5f5;
    border: none;
    border-radius: 0.25rem;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-weight: 500;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-image: none;
    background-clip: padding-box;
}

#mc_embed_signup .input-field .form-control input {
    border: 1px solid #999;
    -webkit-appearance: none;
}

hr {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.hero-area p {
    margin-top: 1rem;
}

.heading {
    padding-bottom: 40px;
}

.sub-heading {
    text-align: center;
    padding-bottom: 35px;
}

table, th, td {
    border: 1px solid grey;
    padding: 1em;
}
.table th {
    padding-top: 0;
}
table {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

td.plenary {
    background-color: rgb(223, 236, 213);
}
td.public {
    background-color: rgb(104, 162, 71);
}
td.sessions {
    background-color: rgb(232, 254, 254);
}
td.career-fair, td.showcase {
    background-color: rgb(255, 239, 200);
}
td.registration {
    background-color: rgb(170, 191, 225);
}
td.organizers {
    background-color: rgb(200, 211, 225);
}
td.banquet {
    background-color: rgb(224, 180, 180);
}
td.lunch, td.break {
    background-color: #DDD;
    font-style: italic;
}
td.empty {
  background: repeating-linear-gradient(
    45deg,
    white,
    #FFF 10px,
    #DDD 12px
  );
}
section#schedule tr a {
    display: block;
    text-decoration: none;
    color: #3b4045;
}

section#schedule tr li:hover {
    background-color: rgba(0,0,0,.075);
}

div.content td ul {
    padding-left: 0;
}
div.content td ul li {
    font-size: 90%;
    list-style: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid lightgrey;
}
div.content td ul li:last-child {
    border-bottom: none;
}
.sponsor-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12em;
}

.heading p {
    text-transform: none;
}

#sponsors ul {
    list-style: inside;
    font-size: 16px;
    line-height: 3rem;
}

@media(max-width:767px){
  .hero-area .col-sm-12 .counter {
      padding: 0;
  }
  
  .hero-area .col-sm-12 .counter ul li {
      padding: 0;
      width: 24%;
  }
  
  .hero-area .col-sm-12 .counter ul li .digit {
      font-size: 25px;
      height: 30px;
      line-height: 35px;
  }
}

.pub-row-heading {
    font-weight: 700;
}

.talk-metadata {
    font-size: 1.125rem;
    line-height: 150%;
}

.media.stream-item .article-title {
    font-size: 1.6rem;
}
.section-subheading {
    font-weight: 700;
    font-size: 1.2rem;
}
.article-title a {
    color: #151515;
    transition: color .6s ease;
}
.article-style { 
    margin-top: 1rem;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-word;
}

.media-body a {
    color: #151515;
}

.media-body a:hover {
    text-decoration: none;
}

.media.stream-item {
    margin-top: 2px;
    margin-bottom: 2rem;
    color: none;
}

.article-metadata {
    overflow: hidden;
    letter-spacing: 0.03rem;
    color: rgba(0,0,0,.54);
}

.author-highlighted {
    font-weight: 700;
}

.middot-divider {
    padding-left: 0.45rem;
    padding-right: 0.45rem;
    font-size: 15px;
}

.middot-divider:after {
    content: '\00B7';
}

.stream-meta {
    margin-top: 12px;
}
time.icon
{
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 6em;
  height: 6em;
  background-color: #fff;
  margin: 0.6em auto;
  border-radius: 0.3em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon .calendar-day
{
  position: absolute;
  top: 0;
  padding: 0.2em 0;
  color: #fff;
  background-color: #1bafb4;
  border-bottom: 1px dashed #1bafb4;
  box-shadow: 0 2px 0 #1bafb4;
}


time.icon .calendar-day-number
{
  width: 100%;
  font-size: 1.9rem;
  letter-spacing: -0.05em;
  padding-top: 1.2em;
  color: #2f2f2f;
}

.calendar-day-time {
    font-weight: 700;
    font-size: 1.0rem;
    letter-spacing: -0.05rem;
    padding-top: 0.2rem;
    text-align: center;
}

time a {
    color: black;
}

time a:hover {
    text-decoration: none;
    color: black;
}

section.location a.badge {
    background-color: #fff;
}

section#sessions h4 a {
    color: #3b4045;
}

.card {
    overflow: hiden;
    text-overflow: ellipsis;
    background: #fff;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 20%);
    transition: all .2s ease-out;
    margin-bottom: 1rem;
}

.card-body {
    flex: auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card-body .section-subheading a {
    color: #3b4045;
}

.card-body a.more {
    font-size: 1.25rem;
    color: #3b4045;
}
.push {
    margin-left: auto;
}

.abstract h5 {
    padding-bottom: 1rem;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

figure img {
    border: 2px solid darkblue;
}

a figcaption {
    color: #3b4045;
    font-size: 16px;
    text-decoration: underline;
}

figcaption {
    padding-top: 1em;
}
.heading h2 mjx-container {
    text-transform: none;
}

.alert h4 {
    margin-top: 0;
}

a.flatlink {
    color: #3b4045;
}
a.flatlink:hover {
    text-decoration: none;
}

