{{ define "breadcrumb" }}
  {{ with .Parent }}
    {{ template "breadcrumb" . }}
    {{ $link := "" }}
    {{ if eq .Title "Sessions" }}
      {{ $link = "/#sessions" }}
    {{ else }}
    {{ $link =  .Permalink | safeURL }}
    {{ end }}
    <li class="breadcrumb_item"><a href="{{ $link }}">{{ if .IsHome }}<i class="fa fa-home"></i>{{ else }}{{.Title}}{{ end }}</a></li>
  {{ end }}
{{ end }}
{{ if not .IsHome }}
  <div class="breadcrumb">
    <ul>
      {{ template "breadcrumb" . }}
      <li class="breadcrumb_item">{{.Title | safeHTML }}</li>
    </ul>
  </div>
{{ end }}
