<section class="session section pt-0">
  <div class="container">
    {{ if gt (len .Pages) 0 }}
      {{ $site := .Site }}
      {{ range (.Pages.GroupByDate "2 January, 2006").Reverse }}
        {{ if $site.Params.sessions.showTimes }}
          <h3>{{ .Key }}</h3>
        {{ end }}
        {{ range $index, $value := .Pages.ByDate }}
          {{ $day := "" }}
          {{ $summary := "" }}
          {{ if .Params.summary }}
            {{ $summary = .Params.summary | markdownify | emojify }}
          {{ else if .Params.abstract }}
            {{ $summary = .Params.abstract | markdownify | emojify | truncate (site.Params.abstract_length | default 800) }}
          {{ else if .Summary }}
            {{ $summary = .Summary }}
          {{ end }}
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-8">
                  <div class="section-subheading card-title exp-title text-muted my-0">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                  </div>
                  <div>
                    <div class="card-subtitle mt-4 article-metadata">
                      {{ range .Params.speakers }}
                      <span class="author-highlighted">{{ .name }}, <em>{{ .affiliation }}</em></span>
                      {{ end }}
                      {{ range .Params.authors }}
                      {{ $author := site.GetPage (printf "/%s/%s" "speakers" .) }}
                      <span class="author-highlighted"><a class="flatlink" href={{ $author.RelPermalink }}>{{ $author.Title }}, <em>{{ $author.Params.affiliation }}</a></em></span>
                      {{ end }}
                      <div>
                        {{ if .Site.Params.sessions.showTimes }}
                        <span class="article-date">{{ .Date.Format "2006-01-02 3:04PM (MST)" }}</span>
                        {{ end }}
                        {{ if .Site.Params.sessions.showLocations }}
                        <span class="middot-divider"></span>
                        {{ range .Params.locations }}
                        <span class="article-location"><a class="badge badge-light" href="{{ "/locations/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></span>
                        {{ end }}
                        <span class="middot-divider"></span>
                        {{ if .Params.categories }}
                          {{ range .Params.categories }}
                          <span class="article-category"><a class="badge badge-light" href="/categories/{{ . }}">{{ . }}</a></span>
                          {{ end }}
                        {{ end }}

                        {{ end }}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  {{ if .Site.Params.sessions.showTimes }}
                  <time datetime="{{ .Date | time.Format "2006-01-06" }}" class="icon">
                    {{ with .OutputFormats.Get "Calendar" -}}
                    <a href="{{ .Permalink | safeURL }}" data-toggle="tooltip" title="Add to my calender">
                    {{ end }}
                    <div>
                      <div class="calendar-day">{{ .Date | time.Format "Monday" }}</div>
                      <div class="calendar-day-number">{{ .Date | time.Format "2" }}</div>
                      <div class="calendar-day-time">{{ .Date | time.Format "15:04 am" }}</div>
                    </div>
                    {{ with .OutputFormats.Get "Calendar" -}}
                    </a>
                    {{ end }}
                  </time>
                  {{ end }}
                </div>
              </div>
              <div class="abstract mt-3">
                <h5>Abstract</h5>
                {{ $markdown := .Params.abstract | markdownify }}
                {{ if not ( strings.Contains $markdown "<p>" ) }}
                    <p>{{ $markdown }}</p>
                {{ else }}
                    {{ $markdown }}
                {{ end }}
              </div>
            </div>
          </div>
        {{ end }} <!-- range over day's items -->
      {{ end }} <!-- range over days -->
    {{ else }}
    <p>No talks found in this session. New talks will appear here as they are added to the session.</p>
    {{ end }}
  </div>
</section>
