<div class="container">
  <nav class="navbar navbar-fixed-top navigation {{ .Page.Params.theme }}" id="top-nav">
        <a class="navbar-brand float-none float-lg-left" href="#">
            {{ with .Site.Params.navigation.logo }}
            <img src="{{ . | absURL }}" alt="logo">
            {{ end }}
        </a>
        <button class="navbar-toggler hidden-lg-up float-lg-right" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <i class="tf-ion-android-menu"></i>
        </button>
        <div class="collapse navbar-toggleable-md" id="navbarResponsive">
            <ul class="nav navbar-nav menu float-lg-right" id="top-nav">
                <li class="nav-item active">
                  {{ if .IsHome }}
                    <a class="nav-link" href="#">
                        {{ with .Site.Params.navigation.home }} {{ . }} {{ end }}
                    </a>
                  {{ else }}
                    <a class="nav-link" href="{{ .Site.BaseURL }}">
                        {{ with .Site.Params.navigation.home }} {{ . }} {{ end }}
                    </a>
                  {{ end }}
                </li>
                {{ if .Site.Params.about.enable }}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .Site.BaseURL }}#about">
                            {{ with .Site.Params.navigation.about }} {{ . }} {{ end }}
                        </a>
                    </li>
                {{ end }}
                {{ if .Site.Params.registration.enable }}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .Site.BaseURL }}#registration">
                            {{ with .Site.Params.navigation.registration }} {{ . }} {{ end }}
                        </a>
                    </li>
                {{ end }}
                {{ if .Site.Params.speakers.enable }}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .Site.BaseURL }}#speakers">
                            {{ with .Site.Params.navigation.speakers }} {{ . }} {{ end }}
                        </a>
                    </li>
                {{ end }}
                {{ if .Site.Params.organizers.enable }}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .Site.BaseURL }}#organizers">
                            {{ with .Site.Params.navigation.organizers }} {{ . }} {{ end }}
                        </a>
                    </li>
                {{ end }}
                {{ if .Site.Params.contact.enable }}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ .Site.BaseURL }}#contact">
                            {{ with .Site.Params.navigation.contact }} {{ . }} {{ end }}
                        </a>
                    </li>
                {{ end }}
            </ul>
        </div>
    </nav>
</div>
