{{ if .Site.Params.organizers.enable }}
    {{"<!-- Organizers Section -->" | safeHTML}}
    <section id="conference-organizers" class="service section">
        <div class="container">
          <div class="heading">
            <h2>Organizing Committees</h2>
          </div>
          <!-- Nav tabs -->
          <ul class="nav nav-pills nav-fill nav-justified" id="committeTabs" role="tablist">
            {{ range $key, $taxonomy := .Site.Taxonomies.committees }}
            <li class="nav-item">
              <a class="nav-link {{ if eq $key "scientific" }}active{{ end }}" id="{{ $key }}-tab" data-toggle="tab" href="#{{ $key }}" role="tab" aria-controls="{{ $key }}" aria-selected="true">{{ $key | humanize }}</a>
            </li>
            {{ end }}
          </ul>
          
          <!-- Tab panes -->
          <div class="tab-content">
            {{ range $key, $taxonomy := .Site.Taxonomies.committees }}
            <div class="tab-pane fade{{ if eq $key "scientific" }} in active{{ end }}" id="{{ $key }}" role="tabpanel" aria-labelledby="{{ $key }}-tab">
               <div class="row auto-clear">
                 {{ range $taxonomy.Pages }}
                 <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                   <div class="block">
                   {{ $link := .Permalink }}
                   {{ with .Params.photo }}
                     {{ $photoFileName := strings.TrimPrefix "/uploads/" . }}
                     {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch $photoFileName }}
                     {{ $imageResized  := $imageResource.Fill "200x200" }}
                     <a href="{{ $link }}"><img class="rounded-circle" src="{{ $imageResized.RelPermalink }}" /></a>
                   {{ end }}
                     <a href="{{ .Permalink }}"><h3>{{ .Title }}</h3></a>
                     <p>{{ .Params.affiliation }}</p>
                   </div>
                 </div>
                 {{ end }}
               </div>
            </div>
            {{ end }}
          </div> 
        </div>
    </section>
{{ end }}
