{{ if .Site.Params.organizers.enable }}
    {{"<!-- Speakers Section -->" | safeHTML}}
    <section id="organizers" class="service section">
        <div class="container">
            <div class="row">
                <div class="heading wow fadeInUp">
                    {{ with .Site.Params.organizers.title }}
                        <h2>{{ . }}</h2>
                    {{ end }}
                    {{ with .Site.Params.organizers.subtitle }}
                        <p>{{ . }}</p>
                    {{ end }}
                </div>
                {{ range first 8 (where .Site.RegularPages "Section" "organizers" ) }}
                    <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="{{ .Params.delay }}">
                        <div class="block">
                            <i class="{{ .Params.icon }}"></i>
                            <a href="{{ .Permalink }}"><h3>{{ .Title }}</h3></a>
                            <p>{{ .Params.affiliation }}</p>
                        </div>
                    </div>
                {{ end }}
            </div>
            <div class="row">
                <div class="more clearfix wow fadeInUp">
                {{ with .Site.Params.organizers.more }}
                  <h3><a href="./organizers">{{ . }}</a></h3>
                {{ end }}
                </div>
            </div>
        </div>
    </section>
{{ end }}
