{{ partial "header" . }}

{{ partial "preloader" . }}

{{ partial "breadcrumb" . }}

<section id="people" class="people section">
  <div id="content">
    <div class="container">
      <div class="row">
        <div class="heading">
          <h2>{{ .Title }}</h2>
        </div>
      </div>
    </div>
    {{ .Content }}
    <div class="container">
      {{ range $key, $taxonomy := .Site.Taxonomies.committees }}
        <h2>{{ $key | humanize }} Committee</h2>
      <div class="row auto-clear">
        {{ range $taxonomy.Pages }}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" data-wow-delay="{{ .Params.delay }}">
          <div class="block">
            <a href="{{ .Permalink }}"><img class="rounded-circle" src="{{ .Params.photo }}" /></a>
            <a href="{{ .Permalink }}"><h3>{{ .Title }}</h3></a>
            <p>{{ .Params.affiliation }}</p>
          </div>
        </div>
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ partial "footer.html" . }}
