{{ if .Site.Params.sessions.enable }}
    {{"<!-- Registration Section -->" | safeHTML}}
    <section id="sessions" class="section about bg-gray">
        <div class="container">
           <div class="heading">
           {{ with .Site.Params.sessions.title }}
               <h2>{{ . }}</h2>
           {{ end }}
           </div>
           <div class="row">
               <div class="col-md-12 col-sm-12">
                   <div class="content">
                       {{ with .Site.Params.sessions.description }}
                           {{ . | markdownify }}
                       {{ end }}
                   </div>
               </div>
           </div>
        </div>
    </section>
{{ end }}
