{{ if .Site.Params.sponsors.enable }}
  {{"<!-- Sponsor Section -->" | safeHTML}}
  <section id="sponsors" class="sponsor section">
    <div class="container">
      <div class="row">
        <div class="heading">
          {{ with .Site.Params.sponsors.title }}
            <h2>{{ . | markdownify }}</h2>
          {{ end }}
          {{ with .Site.Params.sponsors.subtitle }}
            <p>{{ . | markdownify }}</p>
          {{ end }}
        </div>
      </div>
      <div class="row">
        <div class="sub-heading">
          <h3>Title Sponsors</h3>
        </div>
      </div>
      {{ $num_title := len (where .Site.Params.sponsor.sponsorItem "title_sponsor" "eq" true) }}
      {{ range $i, $p := where .Site.Params.sponsor.sponsorItem "title_sponsor" "eq" true }}
      <div class="row pb-3">
        <div class="col-sm-6 col-md-6 offset-md-3 text-center">
           <a href="{{ .url }}"><img width="65%" src="{{ .image }}" /></a>
        </div>
      </div>
      {{ end }}

      <div class="row">
        <div class="sub-heading pt-3">
          <h3>Partners</h3>
        </div>
      </div>
      {{ $num_non_title := len (where .Site.Params.sponsor.sponsorItem "title_sponsor" "ne" true) }}
      {{ range $i, $p := where .Site.Params.sponsor.sponsorItem "title_sponsor" "ne" true }}
      {{ if (modBool $i 2) }}
      <div class="row pb-3">
        <div class="col-sm-1 col-md-1 text-center"></div>
      {{ end }}
        <div class="col-sm-5 col-md-5 text-center">
          <div class="block">
            <a href="{{ .url }}"><img src="{{ .image }}" /></a>
          </div>
        </div>
      {{ if or (not (modBool $i 2)) (eq $i (sub $num_non_title 1)) }}
        <div class="col-sm-1 col-md-1 text-center"></div>
      </div>
      {{ end }}
      {{ end }}
      {{ with .Site.Params.sponsors.content }}
      <div class="row pt-3 text-center">
        <p>{{ . | markdownify }}</p>
      </div>
    {{ end }}
    </div>
  </section>
{{ end }}
