{{ if .Site.Params.sponsors.enable }}
  {{"<!-- Sponsor Section -->" | safeHTML}}
  <section id="sponsors" class="sponsor section">
    <div class="container">
      <div class="row">
        <div class="heading">
          {{ with .Site.Params.sponsors.title }}
            <h2>{{ . }}</h2>
          {{ end }}
          {{ with .Site.Params.sponsors.subtitle }}
            <p>{{ . }}</p>
          {{ end }}
        </div>
      </div>
      {{ range $i,$p := .Site.Params.sponsor.sponsorItem }}
      {{ if (modBool $i 2) }}
      <div class="row pb-3">
        <div class="col-sm-1 col-md-1 text-center"></div>
      {{ end }}
        <div class="col-sm-5 col-md-5 text-center">
          <div class="block">
             <a href="{{ .url }}"><img src="{{ .image }}" /></a>
          </div>
        </div>
      {{ if not (modBool $i 2) }}
        <div class="col-sm-1 col-md-1 text-center"></div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </section>
{{ end }}
