{{ partial "header" . }}

{{ partial "preloader" . }}

{{ partial "navigation" . }}

<section id="speaker" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 wow fadeinDown">
        <div id="profile">
          {{ with .Params.Photo }}
            {{ $photoFileName := strings.TrimPrefix "/uploads/" . }}
            {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch $photoFileName }}
            {{ $imageResized := $imageResource.Fill "200x200 Center" }}
            {{ $avatar_shape := site.Params.avatar.shape | default "circle" }}
          <img class="avatar avatar-circle" src="{{ $imageResized.RelPermalink }}" alt="{{ $.Title }} photo">
          {{ end }}
          <h2>{{ with .Params.role_title }}{{ . }} {{ end }}{{ .Title }}</h2>
          {{ $link := .Params.website }}
          {{ $scheme := (urls.Parse $link).Scheme }}
          {{ $target := "" }}
          {{ if not $scheme }}
            {{ $link = .Params.website | relLangURL }}
          {{ else if in (slice "http" "https") $scheme }}
            {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
          {{ end }}
          <h3>{{ .Params.affiliation }}</h3>
          {{ if isset .Params "social" }}
          <ul class="network-icon">
            {{ range .Params.social }}
            <li>
              <a href="{{ .link | safeURL }}" {{ $target | safeHTMLAttr }}><i class="{{ .icon_pack }} {{ .icon_pack }}-{{ .icon }} size-3"></i></a>
            </li>
            {{ end }}
          </ul>
          {{ end }}
        </div> 
      </div>
      <div class="col-md-4 col-sm-12 wow fadeInDown">
        <div id="research-interests">
          <h3>Research Interests</h3>
          <ul class="profile">
          {{ range .Params.interests }}
          <li>{{ . }}</li>
          {{ end }}
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 wow fadeInDown">
        <div id="education">
          <h3>Education</h3>
          <ul class="profile">
            {{ range .Params.courses }} 
            <li>
              <p class="course">{{ .course }}</p>
              <p class="institution">{{ .institution }}</p>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
    {{ if .Params.authors }}
      <hr>
      {{ range .Params.authors }}
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <h2>Events Featuring This Speaker</h2>
            <div class="content">
            {{ $speaker := site.GetPage (printf "/%s/%s" "authors" .) }}
            {{ range (where $speaker.Pages ".Type" "talk") }}
            <h4><a class="flatlink" href="{{ .RelPermalink }}">{{ .Title | safeHTML }}</a></h4>
              <span class="article-date">{{ .Params.Date }}</span>
              <span class="middot-divider"></span>
              {{ range .Params.locations }}
                <span class="article-location"><a class="badge badge-light" href="{{ "/locations/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></span>
              {{ end }}
              <span class="middot-divider"></span>
              {{ range .Params.categories }}
              <span class="article-category"><a class="badge badge-light" href="/categories/{{ . }}">{{ . }}</a></span>
              {{ end }}
              {{ $markdown := .Params.abstract | markdownify }}
              {{ if not ( strings.Contains $markdown "<p>" ) }}
                  <p>{{ $markdown }}</p>
              {{ else }}
                  {{ $markdown }}
              {{ end }}
            {{ end }}
            </div>
          </div>
        </div>
      {{ end }}
    {{ end }}
    <hr>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="content">
        {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>


{{ partial "footer" . }}
{{ partial "mathjax" . }}
