{{ partial "header" . }}

{{ partial "preloader" . }}

{{ partial "breadcrumb" . }}

<section id="speaker" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12 wow fadeInDown">
        <h2>{{ .Title }}</h2>
        <strong>{{ .Params.affiliation }}</strong>
      </div>
{{ with .Params.Photo }}
    {{ $photoFileName := strings.TrimPrefix "/uploads/" . }}
    {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch $photoFileName }}
    imageResource: {{ $imageResource.RelPermalink }}
{{ end }}
    </div>
    <div class="row">
      <div class="content">
      {{ .Content }}
      </div>
  </div>
</section>


{{ partial "footer" . }}
{{ partial "mathjax" . }}
